{% extends "base.html" %}

{% block content %}
<a class="a-unstyled" href="{% url 'home' %}">
    <h2>Path Finding Algorithms</h2>
</a>

<div id="canvas" class="canvas"></div>

<div class="row justify-content-center align-self-center">
    <div id="select"></div>
</div>

<div class="row justify-content-center align-self-center">
    <div id="desc" class="margin-top"></div>
</div>
{% endblock %}

{% block footer %} {% load static %}
    <script type="text/javascript" src="{% static 'javascript/projects/algorithms/pfa/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/algorithms/pfa/spot.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/algorithms/pfa/dijkstra.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/algorithms/pfa/a_star.js' %}"></script>
{% endblock %}
