{% extends "base.html" %}

{% block content %}
<a class="a-unstyled" href="{% url 'home' %}">
    <h2>Sorting Algorithms</h2>
</a>

<div id="canvas" class="canvas"></div>

<div class="row justify-content-center align-self-center">
    <div id="select"></div>
</div>

<div class="row justify-content-center align-self-center">
    <div id="desc" class="margin-top"></div>
</div>
{% endblock %}

{% block footer %} {% load static %}
    <script type="text/javascript" src="{% static 'javascript/projects/algorithms/sorting/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/algorithms/sorting/bubble.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/algorithms/sorting/comb.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/algorithms/sorting/heap.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/algorithms/sorting/insertion.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/algorithms/sorting/merge.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/algorithms/sorting/radix.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/algorithms/sorting/selection.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/algorithms/sorting/shell.js' %}"></script>
{% endblock %}
