{% extends "base.html" %}

{% block content %}
<a class="a-unstyled" href="{% url 'home' %}">
    <h2>Blocks</h2>
</a>

<div id="canvas" class="canvas"></div>

<div class="row justify-content-center align-self-center">
    <div id="score" class="margin-top"></div>
</div>

<div class="row justify-content-center align-self-center">
    <div id="desc" class="margin-top"></div>
</div>
{% endblock %}

{% block footer %} {% load static %}
    <script type="text/javascript" src="{% static 'javascript/projects/ai/blocks/Block.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/ai/blocks/Hook.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/ai/blocks/Expert.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/ai/blocks/main.js' %}"></script>
{% endblock %}
