{% extends "base.html" %}

{% block content %}
<a class="a-unstyled" href="{% url 'home' %}">
    <h2>Flappy bird</h2>
</a>

<div id="canvas" class="canvas"></div>
<div id="slider" class="slider"></div>
<div id="button" class="button"></div>

</div>

<div class="row justify-content-center align-self-center">
    <div id="gen" class="margin-top"></div>
</div>

<div class="row justify-content-center align-self-center">
    <div id="desc" class="margin-top"></div>
</div>
{% endblock %}

{% block footer %} {% load static %}
    <script type="text/javascript" src="{% static 'javascript/projects/ai/neural_networks/matrix.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/ai/neural_networks/nn.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/ai/flappy_bird/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/ai/flappy_bird/Bird.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/ai/flappy_bird/Pipe.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/ai/flappy_bird/ga.js' %}"></script>
{% endblock %}
