{% extends "base.html" %}

{% block content %}
<h2 class="page-header">
  <a class="a-unstyled" href="{% url 'home' %}">Projects</a>
</h2>

<ul class="list-unstyled margin-top">
    {% for group in groups %}
        <li><button type="button" class="btn btn-outline-secondary" id="{{ group.link }}" onclick="activate(this.id)"> {{ group.name }} </button></li>
    {% endfor %}
</ul>

{% for group in groups %}
<ul class="list-unstyled hidden" id="{{ group.link }}-info">
    {% for section in group.sections %}
        <li><a class="a-unstyled" href="{% url 'projects' direct=group.link name=section.link %}"> {{ section.name }} </a></li>
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}


{% block footer %}
<script type="text/javascript">
let active = false;

function activate(id) {
    let buttons = document.getElementsByTagName('button');

    for (let i = 0; i < buttons.length; i++) {
      if (buttons[i].id != id) {
          if (active) {
              buttons[i].style.display = "inline";
          } else {
              buttons[i].style.display = "none";
          }
      }
    }

    let info = document.getElementById(id + "-info");
    if (active) {
        info.style.display = "none";
    } else {
        info.style.display = "inline";
    }


    active = !active;
}
</script>
{% endblock %}
