{% extends "base.html" %}

{% block content %}
<a class="a-unstyled" href="{% url 'home' %}">
    <h2>XOR</h2>
</a>

<div id="canvas" class="canvas"></div>

<div class="row justify-content-center align-self-center">
    <div id="gen" class="margin-top"></div>
</div>

<div class="row justify-content-center align-self-center">
    <div id="desc" class="margin-top"></div>
</div>
{% endblock %}

{% block footer %} {% load static %}
    <script type="text/javascript" src="{% static 'javascript/projects/ai/xor/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/ai/neural_networks/matrix.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projects/ai/neural_networks/nn.js' %}"></script>
{% endblock %}
